@model List<ZkConstruction.ViewModelQuery.STOVMQ>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sr = 0;
}
<div class="content-wrapper">
    @*Container-fluid starts
        Main content starts*@
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
            </div>
            <div id="mydiv" class="col-md-3">
                <p class="bg-success text-center">@TempData["update"]</p>
                <p class="bg-danger text-center">@TempData["Delete"]</p>
            </div>
        </div>
        <div class="col-lg-12">
            <a asp-action="Create" asp-controller="StockOrder" class="btn btn-skype offset-lg-10"><i class="fa fa-plus"></i>Create New</a>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u>Ordered Stock</u></h5>
                            </div>
                            <div class="card-block" style="overflow-x:auto">
                                <table id="table1" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr#</th>
                                            <th>Employee Name</th>
                                            <th>Site</th>
                                            <th>Date Ordered</th>
                                            <th>Date Required</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var lst in Model)
                                        {
                                            <tr>
                                                <td>@{sr++;}@sr</td>
                                                <td>@lst.Name</td>
                                                <td>@lst.SiteName</td>
                                                <td>@lst.DateOrder</td>
                                                <td>@lst.RequiredDate</td>
                                                <td>@lst.Status</td>
                                                <td style="width:30px; text-align:center;">
                                                    @if (lst.Status != "Cleared")
                                                    {
                                                        <a href="@Url.Action("Edit", new { id = lst.Invid })" class="badge badge-primary" data-toggle="tooltip" data-placement="left" title="Click Me To Edit"><i class="fa fa-pencil"></i></a>
                                                        <a href="@Url.Action("Delete", new { id = lst.Invid })" class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="Click Me To Delete"><i class="fa fa-trash"></i></a>
                                                        <a href="@Url.Action("Create","StockDelievery", new { id = lst.Invid })" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="StockDelievery"><i class="fa fa-eye-slash"></i></a>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Main content ends
        Container-fluid ends*@
</div>
<script>
    $('.chosen-select').chosen();
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
    //start
    $(document).ready(function () {
        var table1 = $('#table1').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
        });
    });
</script>