@model List<ZkConstruction.Models.DEmployee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">

    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
            </div>
            <div id="mydiv" class="col-md-3">
                <p class="bg-success text-center">@TempData["update"]</p>
                <p class="bg-danger text-center">@TempData["Delete"]</p>
            </div>
        </div>
        <div class="col-lg-12">
            <a asp-action="Create" asp-controller="Employee" class="btn btn-skype offset-lg-10"><i class="fa fa-plus"></i>Create New</a>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u>Employee Tables</u></h5>
                            </div>
                            <div class="card-block">
                                <div style="overflow-x:auto">
                                    <table id="advanced-table" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile No</th>
                                                <th>Designation</th>
                                                <th>Date Of Joining</th>
                                                <th>Per Hour Salary</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Employee Name</th>
                                                <th>Email</th>
                                                <th>Mobile No</th>
                                                <th>Designation</th>
                                                <th>Date Of Joining</th>
                                                <th>Per Hour Salary</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var lst in Model)
                                            {
                                            <tr>
                                                @if (lst.Image == null || lst.Image == "")
                                                {
                                                    <td style="text-align:center;width:100px"><img src="~/Uploads/demo.jpg" width="50" height="50" class="img-thumbnail" /></td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:center;width:100px"><img src="~/Uploads/@lst.Image" width="50" height="50" class="img-thumbnail" /></td>
                                                }
                                                <td style="">@lst.Name</td>
                                                <td style="">@lst.Email</td>
                                                <td style="">@lst.Mobile</td>
                                                <td style="">@lst.Designation</td>
                                                <td style="">@lst.DOJ</td>
                                                <td style="">@lst.PerHourSalary</td>
                                                <td style="">@lst.Address</td>
                                                <td style="width:30px; text-align:center;">
                                                    <a href="@Url.Action("Edit", new { id = lst.AccountNo })" class="badge badge-primary" data-toggle="tooltip" data-placement="left" title="Click Me To Edit"><i class="fa fa-pencil"></i></a>
                                                    <a href="@Url.Action("Delete", new { Acc = lst.AccountNo })" class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="Click Me To Delete"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content ends -->
    <!-- Container-fluid ends -->
</div>
<script>
    $('.chosen-select').chosen();
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>