@model ZkConstruction.ViewModel.ResultVM
@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
            </div>
            <div id="mydiv" class="col-md-3">
                <p class="bg-success text-center">@TempData["update"]</p>
                <p class="bg-danger text-center">@TempData["Delete"]</p>
            </div>
        </div>
        <!-- Multiple Open Accordion start -->
        <div class="col-lg-12">
            <a asp-action="Index" class="btn btn-skype offset-lg-10"><i class="fa fa-backward"></i>Back</a>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text">Results Searched</h5>
                </div>
                <div class="card-block">
                    <form method="post" asp-action="Search">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Employees</label>
                                <select class="form-control chosen-select" name="Empid" required asp-items="@(new SelectList(Model.EmployeeList,"AccountNo","Name"))">
                                    <option selected hidden>Select</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Start Date</label>
                                <input type="date" name="Stdate" value="@Model.Stdate" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>End Date</label>
                                <input type="date" name="Endate" value="@Model.Endate" class="form-control" />
                            </div>
                        </div>
                        <div class="offset-md-4 col-md-6 " style="margin-top:20px">
                            <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-search"></i> Search </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Multiple Open Accordion ends -->
    </div>

</div>
<script>
    $('.chosen-select').chosen();
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>