@model ZkConstruction.ViewModel.Cutomer_VM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">

    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
            </div>
            <div id="mydiv" class="col-md-3">
                <p class="bg-success text-center">@TempData["Insert"]</p>
                <p class="bg-danger">@TempData["Duplicate"]</p>
            </div>
        </div>
        <div class="col-lg-12">
            <a asp-action="Index" asp-controller="Customer" class="btn btn-skype offset-lg-10"><i class="fa fa-list"></i> Customer List</a>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u>Customer Form</u></h5>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("save", "Customer", FormMethod.Post, new { enctype = "multipart/form-data"}))
                    {
                        @Html.AntiForgeryToken()

                    <div class="row">
                        <span id="uname_response"></span>
                        <div class="col-md-3">
                            <label><b>Customer Name</b></label>
                            <input type="text" asp-for="Customer.Name" required class="form-control" value="@Model.Customer.Name" />
                        </div>
                        <div class="col-md-3">
                            <label><b>Email</b></label>
                            <input type="email" asp-for="Customer.Email" class="form-control" value="@Model.Customer.Email" />
                        </div>
                       
                        <div class="col-md-3">
                            <label><b>Mobile No</b></label>
                            <input type="number" asp-for="Customer.Mobile" class="form-control" value="@Model.Customer.Mobile" />
                        </div>
                       
                        <div class="col-md-3">
                            <label><b>City</b></label>
                            <input type="text" asp-for="Customer.City" class="form-control" />
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-3 top">
                            <label><b>State</b></label>
                            <input type="text" asp-for="Customer.State" class="form-control" />
                        </div>
                        <div class="col-md-3 top">
                            <label><b>Country</b></label>
                            <input type="text" asp-for="Customer.Country" class="form-control" value="@Model.Customer.Country" />
                        </div>

                        <div class="col-md-6 top">
                            <label><b>Address</b></label>
                            <textarea class="form-control" asp-for="Customer.Address" rows="3" cols="10" value="@Model.Customer.Address"></textarea>
                        </div>
                        <div class="offset-md-4 col-md-6 " style="margin-top:20px">
                            @if (Model.Customer.id == 0)
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" onclick="return confirm('Do you want to Save ..')" style="margin-top:0px"><i class="fa fa-plus"></i> Save </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" onclick="return confirm('Do you want to Update ..')" style="margin-top:0px"><i class="fa fa-plus"></i> Update </button>
                            }

                        </div>
                        @Html.HiddenFor(m => m.Customer.id)
                        @Html.HiddenFor(m => m.Customer.AccountNo)
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <!-- Main content ends -->
    <!-- Container-fluid ends -->
</div>
<script>
    $('.chosen-select').chosen();
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>