@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Management-@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!--Chosen Css-->
    <link href="~/chosen/chosen.css" rel="stylesheet" />

    <!--Chosen JS-->
    <script src="@Url.Content("~/chosen/jquery-3.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/chosen/prism.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/chosen/init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <!-- Dropzone js -->
    <script src="~/bower_components/dropzone/dist/dropzone.js"></script>
    <!-- Dropzone css -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/dropzone/dist/dropzone.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

    <!--Date Picker Material Icon Css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">

    <!-- Font Awesome -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- iconfont -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">

    <!-- simple line icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/simple-line-icons/css/simple-line-icons.css">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">


    <!-- Chartlist chart css -->
    <link rel="stylesheet" href="~/bower_components/chartist/dist/chartist.css" type="text/css" media="all">


    <!-- Color Picker css -->
    <link rel="stylesheet" href="~/bower_components/spectrum/spectrum.css" />

    <!-- Tags css -->
    <link rel="stylesheet" href="~/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />

    <!-- Switchery css -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/switchery/dist/switchery.min.css">

    <!-- bash syntaxhighlighter css -->
    <link type="text/css" rel="stylesheet" href="~/bower_components/syntaxhighlighter/styles/shCoreDjango.css" />

    <!--color css-->
    @*<link rel="stylesheet" type="text/css" href="~/assets/css/color/" id="color" />*@
    <!-- Max-Length js -->
    <script src="~/bower_components/bootstrap-maxlength/src/bootstrap-maxlength.js"></script>
    <!-- Sweetalert CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/sweetalert/css/sweetalert.css">

    <!-- Modal animation CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/modal/css/component.css">

    <!-- Weather css -->
    <link href="~/assets/css/svg-weather.css" rel="stylesheet">
    <style>
        tfoot {
            display: table-header-group;
        }

        .he {
            height: 90px;
        }

        input {
            height: 27px
        }

        label {
            font-weight: bold;
        }

        .top {
            margin-top: 20px;
        }

        .is-hidden {
            display: none !important
        }
    </style>
    <script>
            //$('[data-toggle="offcanvas"]').load(function (){
            //});
            //$("button").on("load", function () {
            //    $($(this).attr("data-toggle")).add("offcanvas");
            //});
    </script>
</head>

<body class="sidebar-mini fixed">

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <div class="wrapper">
        <!-- Navbar-->
        <header class="main-header-top hidden-print">
            <a href="@Url.Action("Index","Home")" class="logo" style="margin-top:10px"><h5>Project Management</h5></a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>

                <!-- Navbar Right Menu-->
                <div class="navbar-custom-menu">
                    <ul class="top-nav">
                        <!-- window screen -->
                        @*<li class="pc-rheader-submenu">
                                <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                                    <i class="icon-size-fullscreen"></i>
                                </a>

                            </li>*@
                        <!-- User Menu-->
                        <li class="dropdown">
                            <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                                <span>@Context.Session.GetString("UserName")<i class=" icofont icofont-simple-down"></i></span>
                            </a>
                            <ul class="dropdown-menu settings-menu">
                                <li><a href="@Url.Action("LogOut","Home")"><i class="icon-logout"></i> LogOut</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Side-Nav-->
        <div>
            <aside class="main-sidebar hidden-print collapse in">
                <section class="sidebar" id="sidebar-scroll">
                    <!-- Sidebar Menu-->
                    @if (Context.Session.GetString("UserId") != "")
                    {
                    <ul class="sidebar-menu">

                        <li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Indexx", "Home")"><i class="fa fa-home" style="color:deepskyblue"></i><span> DashBoard One</span></a></li>
                        <li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Index", "Home")"><i class="fa fa-home" style="color:deepskyblue"></i><span> DashBoard Two</span></a></li>

                        <li class="treeview">
                            <a class="waves-effect waves-dark" href="#">
                                <i class="fa fa-modx" style="color:lightskyblue"></i><span>Registrations</span><i class="icon-arrow-down"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Project")"><i class="fa fa-mail-forward"></i> Projects</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Section")"><i class="fa fa-mail-forward"></i> Secitons</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "SubSection")"><i class="fa fa-mail-forward"></i> Sub Secitons</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Site")"><i class="fa fa-mail-forward"></i> Sites</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Customer")"><i class="fa fa-mail-forward"></i> Customers</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Designation")"><i class="fa fa-mail-forward"></i> Designations</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Employee")"><i class="fa fa-mail-forward"></i> Employees</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Contractor")"><i class="fa fa-mail-forward"></i> Contractors</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Product")"><i class="fa fa-mail-forward"></i> Products</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Company")"><i class="fa fa-mail-forward"></i> Companys</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a class="waves-effect waves-dark" href="#">
                                <i class="fa fa-google-wallet" style="color:lightskyblue"></i><span> Planning & Shedule</span><i class="icon-arrow-down"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "AssignProject")"><i class="fa fa-mail-forward"></i> Project Planning</a></li>
                                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "DailyShedule")"><i class="fa fa-mail-forward"></i> Daily Shedule</a></li>
                            </ul>
                        </li>
                        <li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Index", "SiteVisit")"><i class="fa fa-dollar" style="color:deepskyblue"></i><span> Site Visit</span></a></li>
                        <li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Index", "Result")"><i class="fa fa-print" style="color:deepskyblue"></i><span> Results</span></a></li>
                        <li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Index", "AbsentUser")"><i class="fa fa-user" style="color:deepskyblue"></i><span> Absent/Leave Employee</span></a></li>
                        @*Mobile*@
                        <!--<li class="treeview">
    <a class="waves-effect waves-dark" href="#">
        <i class="fa fa-google-wallet" style="color:lightskyblue"></i><span> Mobile App</span><i class="icon-arrow-down"></i>
    </a>
    <ul class="treeview-menu">
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Home")"><i class="fa fa-mail-forward"></i> Dashboard</a></li>
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "AppProject")"><i class="fa fa-mail-forward"></i> Projects</a></li>
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Attendance")"><i class="fa fa-mail-forward"></i> Staff Attendance</a></li>
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "AppSiteVisit")"><i class="fa fa-mail-forward"></i> Site Survey</a></li>
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "StockOrder")"><i class="fa fa-mail-forward"></i> Stock Order</a></li>
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "WorkProcess")"><i class="fa fa-mail-forward"></i> Work Process</a></li>
        <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "StockDelievery")"><i class="fa fa-mail-forward"></i> Stock Delivery</a></li>-->
                        @*<li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Home")"><i class="fa fa-mail-forward"></i> Allow Staff</a></li>*@
                        <!--<li><a class="waves-effect waves-dark" href="@Url.Action("Index", "WorkSheet")"><i class="fa fa-mail-forward"></i> Worksheet</a></li>
        </ul>
    </li>-->
                        @*<li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Index", "ChartofAccount")"><i class="fa fa-wpforms" style="color:deepskyblue"></i><span> Chart Of Account</span></a></li>
        <li class="treeview"><a class="waves-effect waves-dark" href="@Url.Action("Index", "Ledger")"><i class="fa fa-hashtag" style="color:deepskyblue"></i><span> Ledgers</span></a></li>
        <li class="treeview">
            <a href="#!"><i class="fa fa-google-wallet" style="color:lightskyblue"></i><span> Vouchers</span><i class="icon-arrow-down"></i></a>
            <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" href="@Url.Action("IndexE", "CashPayment")"><i class="fa fa-mail-forward"></i> Daily Expense Sheet</a></li>
                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "CashPayment")"><i class="fa fa-mail-forward"></i> Cash Payment Voucher</a></li>
                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "CashRecepit")"><i class="fa fa-mail-forward"></i> Cash Recipt Voucher</a></li>
                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "BankPayment")"><i class="fa fa-mail-forward"></i> Bank Payment Voucher</a></li>
                <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "BankRecepit")"><i class="fa fa-mail-forward"></i> Bank Recipt Voucher</a></li>*@
                        @* <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "JournalVoucher")"><i class="fa fa-mail-forward"></i> Journal Vouchers</a></li>*@
                        <!--</ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-medium " style="color:deepskyblue"></i><span> Transcation Details</span><i class="icon-arrow-down"></i></a>
        <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Transactions")"><i class="fa fa-mail-forward"></i> Open Transcation</a></li>
            <li><a class="waves-effect waves-dark" href="@Url.Action("TransactionOut", "Transactions")"><i class="fa fa-mail-forward"></i> Daily Cash Closed</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a class="waves-effect waves-dark" href="#"><i class="fa fa-balance-scale" style="color:lightskyblue"></i><span> Financial Statements</span><i class="icon-arrow-down"></i></a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-align-justify"></i><span> Trail Balance</span><i class="icon-arrow-down"></i></a>
                <ul class="treeview-menu">
                    <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "TrialBalance")"><i class="fa fa-mail-forward"></i> Open Trail Balance</a></li>
                    <li><a class="waves-effect waves-dark" href="@Url.Action("Group", "TrialBalance")"><i class="fa fa-mail-forward"></i> Group Trail Balance</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-align-justify"></i><span> Balance Sheet</span><i class="icon-arrow-down"></i></a>
                <ul class="treeview-menu">
                    <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "BalanceSheet")"><i class="fa fa-mail-forward"></i> Open Balance Sheet</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-align-justify"></i><span> Income Statement</span><i class="icon-arrow-down"></i></a>
                <ul class="treeview-menu">
                    <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-mail-forward"></i> Open Income Statement</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#!"><i class="fa fa-users" style="color:lightskyblue"></i><span> User Management</span><i class="icon-arrow-down"></i></a>
        <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "User")"><i class="fa fa-mail-forward"></i> Register User</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#!"><i class="fa fa-cog" style="color:lightskyblue"></i><span> General Setting</span><i class="icon-arrow-down"></i></a>
        <ul class="treeview-menu">
            <li><a class="waves-effect waves-dark" href="@Url.Action("Index", "Settings")"><i class="fa fa-mail-forward"></i> Go to settings</a></li>
        </ul>
    </li>-->

                    </ul>
                    }
                </section>
            </aside>
        </div>

        <!-- Sidebar chat start -->
        <!-- Sidebar chat end-->
        @RenderBody()

    </div>


    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jqurey -->
    <script src="~/bower_components/Jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/bower_components/tether/dist/js/tether.min.js"></script>

    <!-- Required Fremwork -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- waves effects.js -->
    <script src="~/bower_components/Waves/dist/waves.min.js"></script>

    <!-- Scrollbar JS-->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>

    <!--classic JS-->
    <script src="~/bower_components/classie/classie.js"></script>

    <!-- notification -->
    <script src="~/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

    <!-- data-table js -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/data-table/js/jszip.min.js"></script>
    <script src="~/assets/plugins/data-table/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/data-table/js/vfs_fonts.js"></script>
    <script src="~/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Float Chart js -->
    <script src="~/bower_components/flot/jquery.flot.html"></script>
    <script src="~/bower_components/flot/jquery.flot.categories.html"></script>
    <script src="~/bower_components/flot/jquery.flot.pie.html"></script>
    <script src="~/bower_components/flot/jquery.flot.stack.html"></script>
    <script src="~/bower_components/flot/jquery.flot.crosshair.html"></script>

    <!-- custom js -->
    <script type="text/javascript" src="~/assets/js/main.min.js"></script>
    <script src="~/assets/pages/data-table.js"></script>
    <script src="~/assets/pages/modal.js"></script>
    <script type="text/javascript" src="~/assets/pages/preloader.js"></script>
    <script type="text/javascript" src="~/assets/pages/elements.js"></script>
    <script src="~/assets/js/menu.min.js"></script>
    <script src="~/bower_components/RWD-Table-Patterns/dist/js/rwd-table.min.js"></script>
    @*<script src="~/assets/pages/notification.js"></script>*@
    <script type="text/javascript" src="~/assets/pages/dashboard2.js"></script>
    <!-- notification -->
    @*<script src="~/assets/plugins/notification/js/bootstrap-growl.min.js"></script>*@
    <!-- switchery js -->
    <script type="text/javascript" src="~/bower_components/switchery/dist/switchery.min.js"></script>

    <!-- High Chart js -->
    <script src="~/bower_components/highcharts/highcharts.js"></script>

    <!-- Tags js -->
    <script src="~/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>

    <!-- Sweetalert js -->
    <script src="~/assets/plugins/sweetalert/js/sweetalert.js"></script>

    <!-- Counter js  -->
    <script src="~/assets/plugins/countdown/js/jquery.counterup.js"></script>
    <script src="~/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>

    <!-- High Chart js -->
    <script src="~/bower_components/highcharts/highcharts.js"></script>

    <!-- Rickshaw Chart js -->
    <script src="~/bower_components/d3/d3.js"></script>
    <script src="~/bower_components/rickshaw/rickshaw.js"></script>

    <!-- Sparkline charts -->
    <script src="~/bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>

    <!-- Morris Chart js -->
    <script src="~/bower_components/raphael/raphael.min.js"></script>
    <script src="~/bower_components/morris.js/morris.js"></script>

    <!-- Float Chart js -->
    <script src="~/bower_components/flot/jquery.flot.html"></script>
    <script src="~/bower_components/flot/jquery.flot.categories.html"></script>
    <script src="~/bower_components/flot/jquery.flot.pie.html"></script>
    <script src="~/bower_components/flot/jquery.flot.stack.html"></script>
    <script src="~/bower_components/flot/jquery.flot.crosshair.html"></script>

    <!-- Model animation js -->
    <script src="~/bower_components/classie/classie.js"></script>
    <script src="~/bower_components/ModalWindowEffects/js/modalEffects.js"></script>

</body>
</html>


